#box3{
    width: 300px;
    height: 300px;
    background-color: #95c60d;
    background-image: url("../imgs/rfwDB3L.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    backface-visibility: hidden;
}